<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.northtech.WeChat.test.mapper.SysUserMapper">

    <sql id="SysUserCloumns">
        id,
        name ,
        password ,
        mobile
    </sql>

    <!-- find user -->
    <select id="find"  resultType="com.northtech.WeChat.test.bean.SysUser">
        SELECT 
        <include refid="SysUserCloumns"/>
        FROM sys_user  WHERE id=#{id}
    </select>

    <select id="findByMobile" resultType="com.northtech.WeChat.test.bean.SysUser">
        SELECT
        <include refid="SysUserCloumns"/>
        FROM sys_user  WHERE mobile=#{mobile}
    </select>



</mapper>
