<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.northtech.WeChat.wxmetainfo.mapper.WXBindMapper">
    <sql id="WXBindCloumns">
        wx_open_id AS `wxOpenId`,
        sys_user_id AS `bindUserId.id`,
        state AS `state`,
        create_date AS `createDate`,
        update_date AS `updateDate`
    </sql>
    <!-- find user -->
    <select id="getUserByWXOpenID"   resultType="com.northtech.WeChat.wxmetainfo.bean.WXBindInfo">
        SELECT
        <include refid="WXBindCloumns" />
        FROM business_wx_bind  where wx_open_id=#{wxOpenID};
    </select>

    <delete id="UNBind">
        delete from business_wx_bind
        where wx_open_id=#{wxOpenID};
    </delete>

    <insert id="Bind">
        insert into business_wx_bind(
          wx_open_id,
          sys_user_id,
          state
        )
        VALUES (
          #{wxOpenID},
          #{sysUserID},
          1
        )
    </insert>
    <insert id="History_UNBind">
        insert into business_wx_bind_history(
        wx_open_id,
        state
        )
        VALUES (
        #{wxOpenID},
        0
        )
    </insert>
    <insert id="History_Bind">
        insert into business_wx_bind_history(
        wx_open_id,
        sys_user_id,
        state
        )
        VALUES (
        #{wxOpenID},
        #{sysUserID},
        1
        )
    </insert>
</mapper>
